<div class="list-show-title row">
	<h4 class="col-md-4 col-md-offset-2 col-xs-4 col-xs-offset-2">Title</h4>
	<h4 class="col-md-5 col-xs-5"><%= @list.title %></h4>
</div>

<div class="list-show-start_time row">
	<h4 class="col-md-4 col-md-offset-2 col-xs-4 col-xs-offset-2">Date</h4>
	<% if @list.start_time %>
		<% date = @list.start_time %>
		<h4 class="col-md-5 col-xs-5"><%= date.strftime("%Y年 %m月%d日") %></h4>
	<% end %>
</div>

<div class="list-show-media row">
	<h4 class="col-md-4 col-md-offset-2 col-xs-4 col-xs-offset-2">What to see</h4>
	<h4 class="col-md-5 col-xs-5"><%= @list.media %></h4>
</div>

<% unless @list.rate.nil? %>
	<div class="list-show-rate row">
		<h4 class="col-md-4 col-md-offset-2 col-xs-4 col-xs-offset-2">Rate</h4>
		<h4 id="star-rate-<%= @list.id %>" class="col-md-5 col-xs-5">
			<script>
			$('#star-rate-<%= @list.id %>').raty({
				size: 36,
				starOff:  '<%= asset_path('star-off.png') %>',
				starOn : '<%= asset_path('star-on.png') %>',
				starHalf: '<%= asset_path('star-half.png') %>',
				half: true,
				readOnly: true,
				score: <%= @list.rate %>,
			});
			</script>
		</h4>
	</div>
<% else %>
	<div class="list-show-rate row">
		<h4 class="col-md-4 col-md-offset-2 col-xs-4 col-xs-offset-2">Rate</h4>
		<h4 id="rate" class="col-md-5 col-xs-5">
			<script>
			$('#rate').raty({
				size: 36,
				starOff:  '<%= asset_path('star-off.png') %>',
				starOn : '<%= asset_path('star-on.png') %>',
				starHalf: '<%= asset_path('star-half.png') %>',
				half: true,
				readOnly: true,
			});
			</script>
		</h4>
	</div>
<% end %>

<div class="list-show-impression col-md-offset-2">
	<div class="list-show-impression-title col-xs-offset-2">
		<h4>Impression</h4>
	</div>
	<div class="list-show-impression-body">
		<p><%= @list.impression %></p>
	</div>
</div>