<% lists.each do |list| %>
	<tr>
		<!-- 作品タイトルをクリックしてモーダルでデータを編集する処理 -->
		<td><a class="clickable" type="text" data-toggle="modal" data-target="#edit-<%= list.id %>"><%= list.title %></a>
			<div class="modal fade" id="edit-<%= list.id %>" tabindex="-1" role="dialog" aria-hidden="true">
			    <div class="modal-dialog" role="document">
			        <div class="modal-content">

				      	<div class="modal-header text-center">
				      		<h4>編集</h4>
				      	</div>

			      		<div class="modal-body">
					      	<%= form_for(list, url: user_list_path(id: list.id), remote: true) do |f| %>

				      			<div class="update-want-error-message"></div>
						      	<%= hidden_field_tag :update_want, 'update-want' %>

					          	<!-- どのリストかを判断するためにパラメータに:list_idを渡す -->
					          	<%= hidden_field_tag :list_id, "#{list.id}" %>

			      	    		<div class="form-group row">
				      	    		<%= f.label :title, 'Title', class: "col-md-3 col-md-offset-1" %>
				      	    		<div class="col-md-6">
					      	    		<%= f.text_field :title, class: "form-control" %>
					      	    	</div>
				      	    	</div>

			      	    		<div class="form-group row">
				      	    		<%= f.label :start_time, 'Date', class: "col-md-3 col-md-offset-1" %>
				      	    		<div class="col-md-6">
					      	    		<%= f.date_field :start_time, class: "form-control" %>
					      	    	</div>
				      	    	</div>

				      	    	<div class="form-group row">
				      	    		<%= f.label :media, 'Wath to see', class: "col-md-3 col-md-offset-1" %>
				      	    		<div class="col-md-6">
					      	    		<%= f.text_field :media, placeholder: "CXやNetflixなど", class: "form-control" %>
					      	    	</div>
				      	    	</div>
				         </div>

				         <div class="modal-footer">
					        	<button type="button" class="btn btn-secondary" data-dismiss="modal">閉じる</button>
					            <%= f.submit "変更する", class: "btn btn-primary form_submit" %>
					         <% end %>
				         </div>
			        </div>
			    </div>
			</div>
		</td>

		<td><%= list.genre.name %></td>
		<td><%= list.media %></td>
		<td><% if list.start_time.present? %>
				<% date = list.start_time %>
				<%= date.strftime("%Y年%m月%d日") %>
			<% end %>
		</td>

		<!-- 観たへ追加ボタンを押すとモーダルで評価や感想を入力できる -->
		<td><button type="button" class="btn btn-primary mt-5"
				data-toggle="modal" data-target="#watched-<%= list.id %>">観たへ追加</button>
			<div class="modal fade" id="watched-<%= list.id %>" tabindex="-1" role="dialog" aria-hidden="true">
			    <div class="modal-dialog" role="document">
			      <div class="modal-content">

			      	<div class="modal-header text-center">
				      	<h4><%= list.title %></h4>
				      	<p><%= list.genre.name %></p>
				      </div>

			         <div class="modal-body">
				         <%= form_for(list, url: user_list_path(id: list.id)) do |f| %>

			          	<!-- どのリストかを判断するためにパラメーターに:list_idを渡す -->
				          	<%= hidden_field_tag :list_id, "#{list.id}" %>

			      	    	<%= f.hidden_field :is_watched, value: true %>

			      	    	<div class="form-group row">
			      	    		<%= f.label :media, 'Wath to see', class: "col-md-3 col-md-offset-1" %>
			      	    		<div class="col-md-6">
				      	    		<%= f.text_field :media, placeholder: "CXやNetflixなど", class: "form-control" %>
				      	    	</div>
			      	    	</div>

		      	    		<div class="form-group row">
			      	    		<%= f.label :start_time, 'Date', class: "col-md-3 col-md-offset-1" %>
			      	    		<div class="col-md-6">
				      	    		<%= f.date_field :start_time, class: "form-control" %>
				      	    	</div>
			      	    	</div>

		      	    		<div class="field row rate-field" id="add-star-<%= list.id %>">
							      <%= f.label :rate, class: "col-md-3 col-md-offset-1" %>
							      <%= f.hidden_field :rate, id: :review_star %>
							   </div>
							   <!-- 評価機能 -->
							   <script>
								$('#add-star-<%= list.id %>').raty({
								  size     : 36,
								  starOff:  '<%= asset_path('star-off.png') %>',
								  starOn : '<%= asset_path('star-on.png') %>',
								  starHalf : '<%= asset_path('star-half.png') %>',
								  scoreName: 'list[rate]',
								  harf: true,
								});
								</script>

							   <div class="form-group">
							   	<div class="row">
									   <%= f.label :impression, class: "col-md-3 col-md-offset-1" %>
									</div>
								   <div class="row">
								   	<div class="col-md-10 col-md-offset-1">
										   <%= f.text_area :impression, class: "form-control", size: "50x7" %>
										</div>
									</div>
								</div>
			         </div>

			         <div class="modal-footer">
			            <button type="button" class="btn btn-secondary" data-dismiss="modal">閉じる</button>
				            <%= f.submit "観たへ追加", class: "btn btn-primary form_submit" %>
				         <% end %>
			         </div>
			      </div>
			   </div>
			</div>
		</td>

		<td><%= link_to '削除', user_list_path(id: list.id), method: :delete, class: "btn btn-danger" %></td>
	</tr>
<% end %>

