<div class="modal-header text-center">
	<h3>観たいへ追加</h3>
</div>

<div class="modal-body">
	<%= form_for(list, url: user_lists_path(user_id: current_user.id), remote: true) do |f| %>
		<div class="want-error-message"></div>

		<%= hidden_field_tag :add_want, 'want' %>

 		<div class="form-group row">
    		<%= f.label :title, 'Title', class: "col-md-3 col-md-offset-1" %>
    		<div class="col-md-6">
	    		<%= f.text_field :title, class: "form-control" %>
	    	</div>
    	</div>

		<div class="form-group row">
			<%= f.label :genre_id, class: "col-md-3 col-md-offset-1" %>
			<div class="col-md-5 genre-select cp_sl01">
				<%= f.collection_select :genre_id, genres, :id, :name %>
			</div>
		</div>

   	<div class="form-group row">
    		<%= f.label :start_time, 'Date', class: "col-md-3 col-md-offset-1" %>
    		<div class="col-md-6">
	    		<%= f.date_field :start_time, class: "form-control" %>
	    	</div>
    	</div>

    	<div class="form-group row">
    		<%= f.label :media, 'What to see', class: "col-md-3 col-md-offset-1" %>
    		<div class="col-md-6">
	    		<%= f.text_field :media, class: "form-control" %>
	    	</div>
    	</div>

<div class="modal-footer">
	<button type="button" class="btn btn-secondary" data-dismiss="modal">閉じる</button>
		<%= f.submit "保存する", class: "btn btn-primary form_submit" %>
	<% end %>
</div>
