<div class="container">
	<div class="row">
		<!-- user-infoの表示 -->
		<div class="col-md-3">
			<%= render 'shared/user_info', user: @user %>
		</div>
		<!-- マイリスト一覧の表示 -->
		<div class="col-md-9">
			<div class="list-index-headline">
				<h3><%= link_to "マイリスト＞", user_genres_path %>
					<% if @genre.present? %>
						<%= @genre.name %>
					<% else %>
						ALL
					<% end %>
				</h3>
			</div>
			<!-- 観たいと観たをタブで切り替え -->
			<div class="list-index-body p-3">
				<ul class="nav nav-tabs" role="tablist">
				    <li class="nav-item active">
				        <a href="#want-to" class="nav-link top-tabs" data-toggle="tab">観たい</a>
				    </li>
				    <li class="nav-item">
				        <a href="#done" class="nav-link top-tabs" data-toggle="tab">観た</a>
				    </li>
				</ul>
				<div class="tab-content">
					<div id="want-to" class="tab-pane fade active in">
						<!-- 観たいのリストを表示 -->
						<div class="col-xs-10">
						    <%= render 'want_list' %>
					    </div>
					    <div class="col-xs-2">
					    	<!-- 観たいのリスト新規登録 -->
						    <%= render 'want_list_form', list: @list, genres: @genres %>
						</div>
					</div>
					<div id="done" class="tab-pane fade">
						<div class="col-xs-10">
							<!-- 観たのリストを表示 -->
						    <%= render 'done_list' %>
						</div>
						<div class="col-xs-2">
							<!-- 観たのリスト新規登録 -->
						    <%= render 'done_list_form', list: @list, genres: @genres %>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>