<div class="container-fluid">
	<div class="row">


		<!-- user-infoの表示 -->
		<div class="col-lg-3 col-md-4">
			<%= render 'shared/user_info', user: @user %>
		</div>



		<!-- リスト詳細の表示 -->
		<div class="col-lg-6 col-md-8">
			<div class="list-show-headline">
				<h3><%= link_to "マイリスト", user_genres_path %> <span style="color: #AAA;">/</span>
					<%= link_to done_path(@user, { genre_id: @list.genre.id}) do %>
						<%= @list.genre.name %>
					<% end %>
				</h3>
			</div>
			<div class="list-show-body">
				<!-- リストを編集した際に非同期で更新するためにパーシャルにする -->
				<%= render 'lists/list_show_body' %>


				<!-- 編集＆削除のボタン表示 -->
				<% if @list.user == current_user %>
				  <div class="edit-delete-button col-md-offset-3">
					  <button type="button" class="btn btn-primary list-edit-button" data-toggle="modal" data-target="#edit_modal">編集する</button>
					  <%= link_to '削除する', user_list_path(@list), class: "btn btn-danger", method: :delete %>



						<!-- 編集ボタンのモーダル表示 -->
						<div class="modal fade" id="edit_modal" tabindex="-1" role="dialog" aria-hidden="true">
						   <div class="modal-dialog" role="document">
					         <div class="modal-content">

					        		<div class="modal-header text-center">
					        			<h3>編集</h3>
					        		</div>

						      	<div class="modal-body">
					      	    	<%= form_for(@list, url: user_list_path(list_id: @list.id), remote: true) do |f| %>

	    						        	<div class="edit-list-error-message"></div>
	    						        	<%= hidden_field_tag :edit_list, 'edit' %>

					      	    		<%= f.hidden_field :is_watched, value: true %>

					      	    		<div class="form-group row">
						      	    		<%= f.label :title, 'Title', class: "col-md-3 col-md-offset-1" %>
						      	    		<div class="col-md-6">
							      	    		<%= f.text_field :title, class: "form-control" %>
							      	    	</div>
						      	    	</div>

					      	    		<div class="form-group row">
						      	    		<%= f.label :start_time, 'Date', class: "col-md-3 col-md-offset-1" %>
						      	    		<div class="col-md-6">
							      	    		<%= f.date_field :start_time, class: "form-control" %>
							      	    	</div>
						      	    	</div>

						      	    	<div class="form-group row">
						      	    		<%= f.label :media, 'What to see', class: "col-md-3 col-md-offset-1" %>
						      	    		<div class="col-md-6">
							      	    		<%= f.text_field :media, placeholder: "NetflixやCXなど(空欄可)", class: "form-control" %>
							      	    	</div>
						      	    	</div>

						      	    		<div class="field row rate-field" id="edit-star">
											      <%= f.label :rate, class: "col-md-3 col-md-offset-1" %>
											      <%= f.hidden_field :rate, id: :review_star %>
											   </div>

										   <div class="form-group">
										   	<div class="row">
												   <%= f.label :impression, class: "col-md-3 col-md-offset-1" %>
												</div>
											   <div class="row">
											   	<div class="col-md-10 col-md-offset-1">
													   <%= f.text_area :impression, placeholder: "感想を書いてください(空欄可)", class: "form-control", size: "50x7" %>
													</div>
												</div>
											</div>
									</div>

									<div class="modal-footer">
										<button type="button" class="btn btn-secondary" data-dismiss="modal">閉じる</button>
										　　<%= f.submit "保存する", class: "btn btn-primary form_submit" %>
									　　<% end %>
								　　</div>
							   </div>
							</div>
						</div>
						<!-- モーダル表示ここまで -->

				  </div>
				<% end %>
			</div>
		</div>



		<!-- 新着記事の表示 -->
		<div class="col-lg-3">
			<%= render 'shared/article_box', articles: @articles %>
		</div>
	</div>
</div>


<!-- 評価機能の処理 -->
<script>
$('#edit-star').raty({
  size     : 36,
  starOff:  '<%= asset_path('star-off.png') %>',
  starOn : '<%= asset_path('star-on.png') %>',
  starHalf : '<%= asset_path('star-half.png') %>',
  scoreName: 'list[rate]',
  score: '<%= @list.rate %>',
  harf: true,
});
</script>
