<div class="container">
	<div class="row">
		<!-- user-infoの表示 -->
		<div class="col-md-3">
			<%= render 'shared/user_info', user: @user %>
		</div>
		<!-- リスト詳細の表示 -->
		<div class="col-md-7">
			<div class="list-show-headline">
				<h3><%= link_to "マイリスト＞", user_genres_path %>
					<%= @list.genre.name %>
				</h3>
			</div>
			<div class="list-show-body">
				<h4>作品タイトル</h4>
				<p><%= @list.title %></p>

				<h4>日時</h4>
				<% if @list.start_time %>
					<% date = @list.start_time %>
					<p><%= date.strftime("%Y年%m月%d日") %></p>
				<% end %>

				<h4>メディア</h4>
				<p><%= @list.media %></p>

				<h4>評価</h4>
				<div id="star-rate-<%= @list.id %>">
					<script>
					$('#star-rate-<%= @list.id %>').raty({
						size: 36,
						starOff:  '<%= asset_path('star-off.png') %>',
						starOn : '<%= asset_path('star-on.png') %>',
						starHalf: '<%= asset_path('star-half.png') %>',
						half: true,
						readOnly: true,
						score: <%= @list.rate %>,
					});
					</script>
				</div>

				<h4>感想</h4>
				<p><%= @list.impression %></p>

				<!-- 編集＆削除のボタン表示 -->
				<button type="button" class="btn btn-primary mt-5" data-toggle="modal" data-target="#edit_modal">編集する</button>
				<%= link_to '削除する', user_list_path(@list), class: "btn btn-danger", method: :delete %>
				<div class="modal fade" id="edit_modal" tabindex="-1" role="dialog" aria-hidden="true">
				    <div class="modal-dialog" role="document">
				        <div class="modal-content">
				      	    <%= form_for(@list, url: user_list_path(list_id: @list.id)) do |f| %>
					      	   <div class="modal-body">
				      	    		<%= f.label :title, '作品タイトル' %>
				      	    		<%= f.text_field :title %>

				      	    		<%= f.label :start_time, '日時' %>
				      	    		<%= f.date_field :start_time %>

				      	    		<%= f.label :media, 'メディア' %>
				      	    		<%= f.text_field :media %>

				      	    		<div class="field" id="star">
									      <%= f.label :rate %>
									      <%= f.hidden_field :rate, id: :review_star %>
									   </div>

									   <%= f.label :impression %>
									   <%= f.text_area :impression %>
								   </div>
								<div class="modal-footer">
									<button type="button" class="btn btn-secondary" data-dismiss="modal">閉じる</button>
									<%= f.submit "保存する", class: "btn btn-primary form_submit" %>
								</div>
							<% end %>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- 新着記事の表示 -->
		<div class="col-md-2">
			<%= render 'shared/article_box', articles: @articles %>
		</div>
	</div>
</div>

<!-- 評価機能 -->
<script>
$('#star').raty({
  size     : 36,
  starOff:  '<%= asset_path('star-off.png') %>',
  starOn : '<%= asset_path('star-on.png') %>',
  starHalf : '<%= asset_path('star-half.png') %>',
  scoreName: 'list[rate]',
  score: <%= @list.rate %>,
  harf: true,
});
</script>
