<!-- 検索後の記事一覧ページ -->
<div class="container-fluid">
	<div class="row">


		<!-- user-infoの表示 -->
		<div class="col-lg-3 col-md-4">
			<%= render 'shared/user_info', user: current_user %>
		</div>


		<!-- 検索フォームの表示 -->
		<div class="article-index col-lg-9 col-md-8">
			<div class="article-index-headline row">
				<h3 class="col-md-offset-1 col-md-offset-2">記事を探す</h3>
			</div>

			<div class="row search-and-favorite">
				<div class="article-index-search-form col-md-6 col-md-offset-1">
					<%= form_tag(search_path, :method => "get") do %>

						<!-- ユーザー検索か記事検索かを区別するためにmodel要素を渡す -->
						<%= hidden_field_tag :model, "article" %>

						<div class="form-group col-xs-8 col-xs-offset-1">
							<%= text_field_tag :search, "", class: "form-control" %>
						</div>
						<div class="actions col-xs-3">
							<%= submit_tag "検索" ,:name => nil , class: "btn btn-primary"%>
						</div>
					<% end %>
				</div>
				<div class="article-index-favs col-md-3">
					<%= link_to 'いいねした記事を表示', articles_path(favorite: "good"), class: "btn btn-success" %>
				</div>
			</div>


		<!-- 記事一覧ブロックの表示 -->
			<div class="article-index-body row">
				<% if @articles.any? %>
					<% @articles.each do |article| %>
						<div class="article-index-mass">
							<div class="article-index-item col-xs-10">
								<div class="article-index-header row">
									<div class="article-title col-xs-8">
										<%= link_to article_path(article) do %>
											<%= article.article_title %>
										<% end %>
									</div>
									<div class="article-fav col-md-2">
										<i class="fa fa-heart" aria-hidden="true" style="color: red;"></i><%= article.favorites.count %>
									</div>
									<% if article.is_spoiler == true %>
										<div class="article-spoiler col-xs-2"><span>ネタバレ</span></div>
									<% end %>
								</div>
								<div class="article-text row">
									<% if article.is_spoiler == true %>
										<div class="col-md-12 spoiler-caution"><p>この記事はネタバレを含みます</p></div>
									<% else %>
										<div class="col-md-12"><p><%= article.content.slice(0..70) %></p></div>
									<% end %>
								</div>
							</div>
						</div>
					<% end %>
					<div class="row">
						<div class="col-md-offset-3 col-xs-offset-2">
							<%= paginate @articles %>
						</div>
					</div>
				<% else %>
				 <h3 class="col-xs-offset-1 col-md-offset-2">検索結果はありませんでした</h3>
				<% end %>
			</div>

		</div>
	</div>
</div>