<!-- 管理者側の記事一覧ページ -->
<div class="container-fluid">
	<div class="row">

		<div class="article-index col-md-8 col-md-offset-2">
			<div class="article-index-headline row">
				<h3 class="text-center">記事一覧</h3>
			</div>

 			<div class="row">
				<div class="article-index-search-form">
					<%= search_form_for @q, url: admin_articles_path do |f| %>
						<div class="form-group col-xs-8 col-xs-offset-1">
						  <%= f.search_field :article_title_cont, class: "form-control" %>
						</div>
						<div class="actions col-xs-3">
						  <%= f.submit "検索", class: "btn btn-primary" %>
						</div>
					<% end %>
				</div>
			</div>

			<div class="article-index-body row">
				<% if @articles.any? %>
					<% @articles.each do |article| %>
						<div class="article-index-mass">
							<div class="article-index-item">
								<div class="article-index-item-header row">
									<div class="article-title col-xs-8">
										<%= link_to admin_article_path(article) do %>
											<%= article.article_title %>
										<% end %>
									</div>
									<div class="article-fav col-md-2 col-xs-3 text-center">
										<i class="fa fa-heart" aria-hidden="true" style="color: red;"></i><%= article.favorites.count %>
									</div>
									<% if article.is_spoiler == true %>
										<div class="article-spoiler col-xs-2"><span>ネタバレ</span></div>
									<% end %>
								</div>
								<div class="article-text row">
									<p><%= article.content.slice(0..70) %></p>
								</div>
							</div>
							<div class="article-delete-button">
								<%= link_to '削除する', admin_article_path(article), method: :delete, class: "btn btn-danger" %>
							</div>
						</div>
					<% end %>
				<% else %>
					<div class="col-md-offset-4 col-xs-offset-2">
						<h3>検索結果はありませんでした</h3>
					</div>
				<% end %>
			</div>
			<div class="row">
				<div class="col-md-offset-3 col-xs-offset-1">
					<%= paginate @articles %>
				</div>
			</div>
		</div>
	</div>
</div>