<div class="container">
	<div class="row">
		<!-- user-infoの表示 -->
		<div class="col-md-3">
			<%= render 'shared/user_info', user: current_user %>
		</div>
		<!-- 記事一覧ブロックの表示 -->
		<div class="col-md-7">
			<div class="index-article-headline">
				<h4>記事を探す</h4>
				<div class="search-form">
					<%= form_tag(search_path, :method => "get") do %>
						<!-- ユーザー検索か記事検索かを区別するためにmodel要素を渡す -->
						<%= hidden_field_tag :model, "article" %>

						<%= text_field_tag :search %>
						<%= submit_tag "検索" ,:name => nil ,class: "button is-info"%>
					<% end %>
				</div>
			</div>
			<!-- いいねした記事のみを表示 -->
			<%= link_to 'いいねした記事を表示', articles_path(favorite: "good") %>
			<div class="index-article-body">
				<% @articles.each do |article| %>
					<div class="col-md-10">
						<%= link_to article_path(article) do %>
							<%= article.article_title %>
						<% end %>
						<% if article.is_spoiler == true %>
							<span>ネタバレ</span>
							<p>この記事はネタバレを含みます</p>
						<% else %>
							<p><%= article.content.slice(0..100) %></p>
						<% end %>
						<!-- いいねの数も表示する！！！！！！！！！！！！！！！！！！！！！！！！！！！ -->
					</div>
				<% end %>
			</div>
		</div>
		<!-- おすすめ記事の一覧を表示 -->
		<div class="col-md-2">
		</div>
	</div>
</div>