<div class="container">
  <div class="row">
    <h2 class="col-xs-4 col-xs-offset-1">アカウント情報を変更</h2>
  </div>
  <%= render 'shared/error_messages', object: @user %>
  <div class="row">
  	<div class="user-edit-form-all">
  		<%= form_with(model: @user, local: true) do |f| %>
      <div class="img-box row">
  			<div class="col-xs-4 col-xs-offset-3">
  				<div><%= attachment_image_tag @user, :image, :fill, 150, 150, size: "150x150",
                  fallback: "no_image.png", id: "img_prev" %></div>
  			</div>
				<p class="col-xs-3"><label class="btn btn-info btn-md" style="width: 150px;">画像選択
			        <%= f.attachment_field :image, style: "display:none;", id: "product_img" %></label></p>
      </div>

			<div class="form-group row">
				<%= f.label :name, 'ユーザーネーム', class: "col-xs-4 col-xs-offset-1" %>
				<div class="col-xs-5">
					<%= f.text_field :name, autofocus: true, autocomplete: "name", class: "form-control" %>
				</div>
			</div>

      <div class="form-group row">
        <%= f.label :introduction, '自己紹介(100文字まで)', class: "col-xs-4 col-xs-offset-1" %>
        <div class="col-xs-6">
          <%= f.text_area :introduction, size: "20x5", autocomplete: "introduction", class: "form-control" %>
        </div>
      </div>
			<div class="actions">
				<%= f.submit "変更する", class: "col-xs-4 col-xs-offset-4 edit-button" %>
	        </div>
  		<% end %>
  	</div>
  </div>
</div>

<!-- 画像を選択したら表示されるように -->
<script type="text/javascript">
  $(function() {
    function readURL(input) {
        if (input.files && input.files[0]) {
        var reader = new FileReader();
        reader.onload = function (e) {
    $('#img_prev').attr('src', e.target.result);
        }
        reader.readAsDataURL(input.files[0]);
        }
    }
    $("#product_img").change(function(){
        readURL(this);
    });
  });
</script>