<div class="user-info-box col-xs-3">
	<div class="d-flex justify-content-center">
		<%= attachment_image_tag user, :image, :fill, 150, 150, class: "profile-img", fallback: "no_image.png", size: "150x150" %>
	</div>
	<table class="table">
	    <tbody>
	      <tr></tr>
	      <tr>
	         <td>
	            <b>ユーザ名</b><span><%= user.name %></span>
	         </td>
	      </tr>
	      <tr>
	         <td>
	            <b>自己紹介</b>
	            <p class="text-center"><%= user.introduction %></p>
	         </td>
	      </tr>
	      <tr>
	      	<td>
	      		<%= render 'shared/stats', user: user %>
	      	</td>
	      </tr>
	      <% if user_signed_in? %>
	         <% if current_user != user %>
	            <tr>
	               <td>
	                  <div class="text-center">
	              	      <%= render 'users/follow_form', user: user %>
	                  </div>
	               </td>
	            </tr>
	         <% else %>
	            <tr>
	               <td>
	                  <div class="text-center">
	                     <%= link_to "記事を書く", new_article_path ,class: "btn btn-info" %>
	                  </div>
	               </td>
	            </tr>
	         <% end %>
	         <tr>
               <td>
            	<!-- カレンダー表示 -->
            	   <div class="text-center">
                     <%= link_to "カレンダーを見る", calendar_user_path(user) ,class: "btn btn-success" %>
                  </div>
               </td>
            </tr>
	      <% end %>
	   </tbody>
	</table>
</div>


