<div class="user-info-box">
	<div class="text-center">
		<%= link_to user_genres_path(user) do %>
			<%= attachment_image_tag user, :image, :fill, 150, 150, class: "prof-img", fallback: "no_image.png", size: "150x150" %>
		<% end %>
	</div>
	<table class="table">
	    <tbody>
	      <tr></tr>
	      <tr">
	        <td>
	          <div class="text-center user-info-name">
		          <strong><%= user.name %></strong>
		        </div>
	        </td>
	      </tr>
	      <tr>
	        <td>
	          <p class="intro-title"><strong>自己紹介</strong></p>
	          <p class="text-center"><%= user.introduction %></p>
	        </td>
	      </tr>
	      <tr>
	      	<td>
	      		<div id="stats">
		      		<%= render 'shared/stats', user: user %>
		      	</div>
	      	</td>
	      </tr>

	      <% if user_signed_in? %>
	         <% if current_user != user %>
	         	<!-- ユーザーフォローボタンを表示 -->
	            <tr>
	              <td>
	                <div class="text-center">
	              	  <%= render 'users/follow_form', user: user %>
	                </div>
	              </td>
	            </tr>
	         <% else %>
	         	<!-- 記事を書くボタンの表示 -->
	            <tr>
	              <td>
	                <div class="text-center">
	                  <%= link_to "記事を書く", new_article_path ,class: "btn btn-info" %>
	                </div>
	              </td>
	            </tr>
		         <!-- 観たいと観たのモーダルを表示 -->
		         <tr class="want-done-button">
		         	<!-- 観たい！ボタン -->
		         	<td>
		         		<button type="button" class="btn btn-warning btn-lg" data-toggle="modal" data-target="#want-modal">観たいに追加</button>
		         		<div class="modal fade" id="want-modal" tabindex="-1" role="dialog" aria-hidden="true">
				    			<div class="modal-dialog" role="document">
				         		<div class="modal-content">
				         			<%= render 'lists/want_list_form', list: List.new, genres: current_user.genres %>
				         		</div>
				         	</div>
				        </div>
		         	</td>

		         	<!-- 観た！ボタン -->
		         	<td>
		         		<button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#done-modal">観たに追加</button>
		         		<div class="modal fade" id="done-modal" tabindex="-1" role="dialog" aria-hidden="true">
				    			<div class="modal-dialog" role="document">
				         		<div class="modal-content">
				         			<%= render 'lists/done_list_form', list: List.new, genres: current_user.genres %>
				         		</div>
				         	</div>
				        </div>
		         	</td>
		        <tr>
	        <% end %>

            	<!-- カレンダー表示 -->
              <td>
            	  <div class="text-center">
                  <%= link_to "カレンダーを見る", calendar_user_path(user) ,class: "btn btn-success" %>
                </div>
              </td>
            </tr>
	      <% end %>
	   </tbody>
	</table>
</div>
