<nav class="navbar navbar-default navbar-fixed-top">
	<div class="container-fluid">
		<div class="header">
			<div class="navbar-header">
				<div class="brand-logo">
					<%= link_to admin_root_path do %>
						<div class="navbar-brand" id="logo"></div>
					<% end %>
				</div>
			</div>
			<div class="navbar-right" id="admin-header">
				<ul class="nav navbar-nav">
					<% if admin_signed_in? %>
					  <li class="nav_item"><%= link_to "チャート", admin_root_path, id: "pc-admin-chart-link" %></li>
						<li class="nav_item"><%= link_to "ユーザー一覧", admin_users_path, id: "pc-admin-users-link" %></li>
						<li class="nav_item"><%= link_to "記事一覧", admin_articles_path, id: "pc-admin-articles-link" %></li>
						<li class="nav_item"><%= link_to "ログアウト", destroy_admin_session_path, method: :delete, id: "pc-admin-logout-link" %></li>
				   <% end %>
			   </ul>
			</div>

			<!-- レスポンシブ対応時のheader -->
			<div class="sp-nav">
	      <ul>
	        <li><%= link_to "チャート", admin_root_path %></li>
	        <li><%= link_to "会員一覧", admin_users_path %></li>
	        <li><%= link_to "記事一覧", admin_articles_path %></li>
	        <li><%= link_to "ログアウト", destroy_admin_session_path, method: :delete %></li>
	        <li class="close"><span>閉じる</span></li>
	      </ul>
	    </div>
	    <div class="nav navbar-nav" id="hamburger">
	      <span></span>
	    </div>

	  </div>
	</div>
</nav>

<script>
$(function() {
  const hum = $('#hamburger, .close')
  const nav = $('.sp-nav')
  hum.on('click', function(){
    nav.toggleClass('toggle');
  });
});
</script>