<header class="navbar navbar-fixed-top">
	<div class="container">
		<nav>
			<%= link_to admin_root_path do %>
				<div id="logo"></div>
			<% end %>
			<ul class="nav navbar-nav navbar-right">
				<% if admin_signed_in? %>
					<li><%= link_to "ユーザー一覧", admin_users_path, class: "nav_item" %></li>
					<li><%= link_to "記事一覧", admin_articles_path, class: "nav_item" %></li>
					<li><%= link_to "チャート", admin_root_path, class: "nav_item" %></li>
					<li><%= link_to "ログアウト", destroy_admin_session_path, method: :delete, class: "nav_item" %></li>
			    <% end %>
		    </ul>
		</nav>
	</div>
</header>