<!DOCTYPE html>
<html>
  <head>
    <title>MakeNotes</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= favicon_link_tag('favicon.ico') %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body class="h-100">
    <% if request.url.include? "admin" %>
      <%= render 'layouts/admin_header' %>
    <% else %>
      <%= render "layouts/user_header" %>
    <% end %>
    <%= yield %>
    <%= render 'layouts/footer' %>
  </body>
</html>
